

<!DOCTYPE html>
{% extends 'loginBase.html' %}
{% load staticfiles %}
<body>
	{% block loginblock %}
	<div class="row">
		<div class="col-12">
			<ul class="nav nav-pills nav-fill">
					<li class="nav-item"><a href="{% url 'Trainer:user_login' %}" class="nav-link">Trainer</a></li>
					<li class="nav-item"><a href="{% url 'Student:user_login' %}" class="nav-link active">Student</a></li>
			</ul>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-12">
			<form action="{% url 'Student:user_login' %}" method="post">
					{% csrf_token %}
					<div class="form-group">
						<labe for="username" >Username: </labe>
    					<input type="text" name="username" placeholder="enter username">
						<labe for="password" >password: </labe>
						<input type="text" name="password" placeholder="enter password">					
					</div>
					<input type="submit" name="" value="Login">
			</form>
		</div>
	</div>
	{% endblock %}
</body>
