<!DOCTYPE html>
{% extends 'loginBase.html' %}
<body>
	{% block loginblock %}
	<div class="row">
		<div class="col-12">
			<ul class="nav nav-pills nav-fill">
					<li class="nav-item"><a href="{% url 'Trainer:login' %}" class="nav-link active">Trainer</a></li>
					<li class="nav-item"><a href="{% url 'Student:login' %}" class="nav-link">Student</a></li>
			</ul>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-12">
			<form action="" method="post">
					<div class="form-group">
						{{insertform.as_p}}
						{% csrf_token %}
					</div>
				<input class="btn btn-success semicircle" type="submit" name="" value="submit">
			</form>
		</div>
	</div>
	{% endblock %}
</body>
