<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>Login</title>
	<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body{
	background-size: cover;
	background: url(/img/bgGrievances.jpg);
}
h2{
	margin-top: 30px;
}
.container{
	height: 100vh;
	overflow: auto;
}
#row{
	margin-top:10%;
	margin-bottom: 20px;
}
#loginbox{
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: rgba(0,0,0,0.02);
}
.form-group{
	max-width:275px;
	margin-left: 25%;
}
.form-control{
	height: 40px;
	font-size: 15px;
	line-height: 17px;
}
img{
	max-width:250px;
}
li{
	padding-left: 35px;
	padding-right: 35px;
}
</style>
</head>
<body>
  <div class="container text-center">
	<div class="row" id="row">
		<div class="col-6" style="padding-top: 7%;">
			<img src="http://ccet.ac.in/img/index/ccetLogoWhite.png" >
			<h2>Rising<br>Studio</h2>
		</div>

		<div class="col-6" id="loginbox">
		{% block loginblock %}
    {% endblock %}
		</div>
	</div>
	</div>
</body>
</html>
